body{
    height: 100vh; 
    width: 100%; 
    margin: 0%;
} 
.log{
    width: 30px; 
    
}
body{ 
    background-image: url(Images/login-bg.png);
    background-color: #000000;  
    background-size: 90%; 
    
    
 }
 body nav img{ 
    width: 267px;
    height: 116.51px;
 }  
 
form h1{   
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
color: #DCDCDC;
position: absolute; 
top: 20%; 
left: 26%; 
 }  
  
 body input{ 
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    border: 3px solid #FCF291;
    backdrop-filter: blur(200px);
    border-radius: 38px;   
    text-decoration: none;
 } 
 .b1{ 
    position: absolute; 
top: 42%; 
left: 16%; 

 }  
 .b2{
    position: absolute; 
    top: 54%; 
    left: 16%;
 }
 body button{
    background: #FFCD2D;
    border-radius: 38px;
    width: 300px;
    height: 40px;  
    position: absolute;
    left: 16%;
    top: 70%; 



 } 
body button a
{  
font-style: normal;
font-weight: 700;
font-size: 24px;  
color: #000000;
text-decoration: none;
} 
body p{   
   
    font-family: 'Roboto', sans-serif; 
    color: rgb(255, 255, 255);
    position: absolute; 
    right: 2%;  
    top: 90%;
} 

@media (max-width:400px){

    .container{
    background-image:linear-gradient(to right,#030304a7,#06080aab),url(Images/login-bg.png);
    /* background-image: url(images\photo_2023-04-11_12-25-56.jpg); */
    height: 100vh;
    width: 390px;
    background-position:center;
    background-size: cover;
}  
.log{
    width: 10px;

}
body h1{
    text-align: center;
}  
.box{
    background-image: url(Images/298cd4ffd68b87514b6cd7e390ac5279\ 1.png);
}
}